$black: black;
$gray: #808080;
$gray_2: #E8E6EB;
$gray_3: #F8F5FA;
$gray_4: #A9A3AD;
$gray_5: #f5f2f7;
$gray_6: #808085;
$white: white;

$accent: #831FD1;
$accent_2: #811FD1;
$accent_light: #AE1FD1;
$accent_dark: #1C072E;
$accent_bg: #2F1D3D;
$accent_3: #FBF8FD;
$accent_4: #60536E;
$accent_5: #3B2154;
$accent_6: rgba(159,57,252,0.8);
$accent_7: #5E1799;
$btn-border-hover: rgba(0,0,0,0.2);

$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;